/* You can add global styles to this file, and also import other style files */




html, body { height: 100%; }

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-control{
  padding-left: 40% ;
  padding-top: 5%;
}
.mat-mdc-form-field{width:50%}



.spinner {
  position: absolute;
  top: calc( 50% - 50px );
  left: calc( 50% - 50px );
}


